# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [84]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
from api_keys import weather_api_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [85]:
csv_path = "weatherdf.csv"
weatherdf = pd.read_csv(csv_path)
weatherdf1 = weatherdf.dropna()
weatherdf.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Bredasdorp,0,ZA,1595190248,93,-34.53,20.04,55.4,1.63
1,1,Ushuaia,40,AR,1595190189,100,-54.80,-68.30,33.8,6.93
2,2,Laas,39,IT,1595190311,59,46.62,10.70,64.4,3.36
3,3,Grindavik,75,IS,1595190147,71,63.84,-22.43,50.0,8.05
4,4,Arraial do Cabo,0,BR,1595190252,78,-22.97,-42.03,73.4,17.22

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [86]:
gmaps.configure(api_key = g_key)

In [88]:
locations = weatherdf[["Lat", "Lng"]].astype(float)
humidity = weatherdf["Humidity"].astype(float)
fig = gmaps.figure()
heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                   dissipating=False, max_intensity=100,
                                   point_radius=1)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [89]:
#im not really sure how to proceed from here

pickydf = weatherdf[weatherdf['Max Temp'] <= 80]
pickydf1 = pickydf[pickydf['Max Temp'] >= 70]
pickydf2 = pickydf1[pickydf1['Wind Speed'] < 10]
pickydf3 = pickydf2[pickydf2['Cloudiness'] == 0 ]
pickydf3.dropna()
pickydf3.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
54,54,Erenhot,0,CN,1595190316,31,43.65,111.98,71.04,7.92
71,71,Carmo do Parana√≠ba,0,BR,1595190318,55,-19.00,-46.32,71.01,4.00
92,92,Corinth,0,GR,1595190321,55,37.94,22.96,78.01,1.01
94,94,San Vicente,0,AR,1595190321,64,-26.62,-54.13,74.46,3.83
99,99,Ikon-Khalk,0,RU,1595190321,78,44.31,41.91,71.06,0.29

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map